*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

h1{
    color: #3F1D38;
}

.container{
    background-color: #A2678A;
    width: 80vh;
    height: 932px;
}

.box{
    width: 50%;
    height: 300px;
    background-color: #E19898;
    color: #4D3C77;
    margin: 1rem;
    padding: 1rem;
    border: 7px solid #3F1D38;
    font-family: 'Dancing Script', cursive;
    
}

h2{
    font-weight: 700;
}