@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@300&display=swap');


.name {
    color: #061c27;
}

.parent {
    background-color: #040D12;
    height: 932px;
    width: 200vh;
   
}

.box {
    background-color: #5C8374;
    height: 300px;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border: 5px #183D3D solid;
    box-sizing: border-box;

}

h2 {
    color: #cddbd6;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}
