@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
    font-family: 'Lora', serif;
}

.heading {
    color:  rgba(46, 67, 4, 0.934);
}

section {
    height: 932px;
    width: 50vw;
    background-color: purple;
}
 article{
    height: 300px;
    width: 50%;
    background-color: yellow;
    margin: 1rem;
    padding: 1rem;
    border: 5px red solid;
    box-sizing: border-box;
    
 }

 h2 ~ p {
    color: rgb(100, 10, 200);
 }

 article> h2 {
    color: #681818;
 }
 